@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --shadow: 0 1px 10px #757575;
  --scrolling-box: 0 3px 1rem rgba(0,0,0,.1);
}

/* ---------------------- Utilities Area ------------------------ */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding-bottom: 10px;
  font-size: 20px;
  letter-spacing: 8px;
}

.btnView{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 125px;
  background-color: #FEC930;
  color: #fff;
  border-radius: 15px;
  margin-top: 12px;
}

.btnContact-mb-view{
  display: none;
}

.btnContact{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 14px;
  background-color: #FEC930;
  border-radius: 25px;
  margin-right: 110px;
}

.btnContact:hover{
  color: #333;
  background-color: #ffd65a;
}

.btnContact a:hover{
  color: #333;;
}

/* --------------- Header and Navigation ------------------------- */
header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: background-color .5s ease;
  z-index: 1000;
  padding: 20px;
}

/* Codes ng Navigation or Navbar  */
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  transition: height .5s ease;
}

.navbar a{
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1.6px;
}

.navbar-link{
  margin: 0 1.55rem;
  position: relative;
  font-weight: 700;
}

.navbar .headerLogo{
  float: left;
  margin-left: 110px;
}

.navbar-list-items{
  display: flex;
  list-style: none;
}

.navbar-link::after{
  content: '';
  width: 100%;
  height: 2px;
  background-color: #eaeaea;
  position: absolute;
  left: 0;
  bottom: -3px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .5s ease;
}

.navbar-link:hover::after{
  transform: scaleX(1);
}

.contact-circle a{
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

/* Ito ang Changing Color Scrolling Effect */

.scrolling-active{
  background-color: #fff;
  box-shadow: var(--scrolling-box);
}
.scrolling-active .navbar{
  height: 4.5rem;
}
.scrolling-active .navbar a{
  color: #333;
  font-weight: 700;
}
.scrolling-active .navbar-link::after{
  font-weight: 700;
  background-color: #333;
}

/* ------------- Showcase Area ---------- */
#showcase-area {
  background-image: url('./components/img/Background-Image.png');
  background-size: cover;
  background-position: center;
  height: 110vh;
}

#showcase-area-2,
#showcase-2,
#content-2{
  display: none;
}

#showcase {
  top: 60;
  left: 0;
  display: grid;
  height: 110vh;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgba(87, 87, 87, 0.6);
}

.content {
  padding: 20px;
  line-height: 1;
  color: black;
  text-align: left;
  margin-top: 190px;
  margin-left: 100px;
}

.content h5{
  margin: 0;
  padding: 0;
  font-size: 50px;
  color: #FEC930;
  font-weight: bolder;
}

.content h3{
  margin: 0;
  padding: 0;
  font-size: 75px;
  color: #FEC930;
  font-weight: bolder;
}

.content h2{
  margin: 0;
  padding: 0;
  font-size: 90px;
  color: #FEC930;
  margin-bottom: 20px;
  font-weight: bolder;
}

.content p{
  margin: 10px 0;
  padding: 0;
  font-size: 20px;
  color: #fff;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -10px;
  margin-top: 190px;
  width: 65%;
  text-align: center;
  justify-self: center;
}

.imageClass {
  max-width: 100%;
  height: auto;
}

#projects{
  width: 100%;
  margin: auto;
  max-width: 900px;
}

#projects .content-top-left{
  position: relative;
  left: -120px;
  margin: 30px 0px 30px 0px;
}

#projects h4{
  position: relative;
  left: -245px;
  font-size: 40px;
  color: #154020;
}

#projects p{
  left: 39px;
  display: flex;
  font-size: 23px;
  color: #154020;
  position: relative;
  text-align: justify;
}

#projects .content-top-rigth{
  display: flex;
  float: right;
  position: relative;
  left: 105px;
  top: -32px;
}

#projects .content-top-rigth a{
  color: #154020;
  font-weight: bold;
}

#projects .content-top-rigth a .exploreClass{
  top: 3px;
  left: -3px;
  position: relative;
}

#projects .project-container{
  gap: 15px;
  display: flex;
  position: absolute;
  left: 130px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Media Queries */

.menu-btn {
  display: none;
}

@media (max-width: 530px) {

  header{
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 1000;
    padding: 20px;
  }

  .navbar .headerLogo {
    margin-left: 10px;
  }

  .navbar .headerLogo img{
    width: 70px;
    height: 60px;
  }

  .menu-btn {
    display: block;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    margin-right: 11px;
  }

  .navbar .btnContact{
    display: none;
  }

  .navbar-list-items .btnContact-mb-view{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    background-color: #FEC930;
    border-radius: 25px;
  }

  .navbar-list-items {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100px;
      left: 0;
      width: 100%;
      background: #f9f9f9;
      padding: 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      border-top: 1px solid #ddd;
  }

  .navbar-link::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #373737;
    position: absolute;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease;
  }
  
  .navbar-link:hover::after{
    transform: scaleX(1);
  }

  .navbar-list-items a {
      color: #333;
  }

  .navbar-list-items.active {
      display: flex;
  }

  .navbar-list-items li {
      margin-bottom: 10px;
  }

  .btnContact {
      display: block;
      margin-right: 10px;
  }

  /* ------------- Showcase Area ---------- */
  #showcase-area {
    display: none;
  }

  #showcase-area-2 {
    display: flex;
    position: relative;
    /* overflow: hidden; */
    margin-top: 106px;
    background-color: rgba(87, 87, 87, 0.6);
    width: 550px;
    height: 450px;
  }

  #showcase-area-2 img {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  #showcase-2 {
    display: flex;
    align-items: center;
  }

  .content-2 {
    padding: 10px;
    line-height: 1;
    color: black;
    text-align: left;
    margin-left: 20px;
  }

  .content-2 h5 {
    margin: 0;
    padding: 0;
    font-size: 29px;
    color: #fec930;
    font-weight: bolder;
  }

  .content-2 h3 {
    margin: 0;
    padding: 0;
    font-size: 49px;
    color: #fec930;
    font-weight: bolder;
  }

  .content-2 h2 {
    margin: 0;
    padding: 0;
    font-size: 57px;
    color: #fec930;
    margin-bottom: 20px;
    font-weight: bolder;
  }

  .content-2 p {
    margin: 10px 0px 15px 0px;
    font-size: 14px;
    color: #fff;
  }

  .btnView-2 {
    display: inline-block;
    text-align: center;
    padding: 11px 9px 11px 9px;
    background-color: #fec930;
    color: #fff;
    border-radius: 15px;
  }

  .btnView-2 > .iconTag{
    position: relative;
    top: 2px;
    left: -0.019em;
  }

  .btnView-2 .txtView{
    position: relative;
    top: -0.009em;
    left: 5px;
  }

}
